name: Latest writeups
on:
  workflow_dispatch:
  schedule:
    - cron:  '0 * * * *'
permissions:
      contents: write
jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blogs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gautamkrishnar/blog-post-workflow@v1
        with:
          comment_tag_name: "WRITEUPS"
          max_post_count: "15"
          feed_list: "https://technicalnavigator.in/category/linux-android-windows/feed/,https://medium.com/feed/@infosecwriteups/,https://www.bleepingcomputer.com/tutorials/feed/"

